#googleImage{
    width: 400px;
}
#searchArea{
    height: 38px;
    display: flex;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 25px;
    padding: 3px;
    padding-right: 10px;
    margin: auto;
    width: 500px;
    margin-bottom: 20px;
}

#searchArea:hover {
    box-shadow: 0px 0px 5px 2px rgb(224, 224, 224);
  }

input[type=text]{
    width: 75%;
    border: none;
    outline: none;
    font-size: 16px;
}

.searchBarIcons{
    width: 22px;
    height: 22px;
    margin: 8px;
    cursor: pointer;
}

#cross{
    width: 15px;
    height: 15px;
    margin-top: 12px;
    cursor: pointer;
}

#slash{
    display: block;
    margin-top: auto;
    font-size: 35px;
    margin-left:8px ;
    margin-right: 8px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(223, 223, 223);
}


#crossIcons{
    width: 50px;
    display: flex;
}

#cross, #slash{
    display:none;
}

#googleMic{
    margin-left: 10px;
    margin-right: 15px;
    cursor: pointer;
}
#searchIcon{
    width: 15px;
    height: 15px;
    margin-top: 12px;
    
}



.searchBtn {
    width: 140px;
    height: 40px;
  
    outline: none;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(250, 250, 250);
    border-radius: 5px;
    font-size: 15px;
    color: rgb(97, 97, 97);
    cursor: pointer;
  }
  
  .searchBtn:hover{
    border: 0.5px solid rgb(224, 224, 224);
    color: rgb(51, 51, 51);
  }
  
  .searchBtn:active {
    border: 0.5px solid rgb(56, 92, 255);
    color: rgb(51, 51, 51);
  }
  
  .searchBtn:focus {
    border: 0.5px solid rgb(56, 92, 255);
    color: rgb(51, 51, 51);
  }

main{
    text-align: center;
}

main div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: rgb(80, 80, 80);
}
main div span{
    margin: 5px;
}

main div span a{
    text-decoration: none;
}

main div span a:hover{
    text-decoration: underline;
}

footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(136, 136, 136);
    background-color: rgb(241, 241, 241);
    height: 90px;
    position: absolute;
    bottom: 5px;
    width: 99%;
}

#footerTop{
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 10px 20px;
}

footer ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    padding-right: 20px;
}
footer ul li{
    margin-left: 20px;
}

footer ul li a{
    text-decoration: none;
    color: rgb(136, 136, 136);
}

footer ul li a:hover{
    text-decoration: underline;
}

#footerBottom{
    display: flex;
}

#footerLeft{
    width: 55%;
    display: block;
}
#footerRight{
    width: 25%;
    display: block;
}
#footerRightUl{
    width: 0px;
    float:right;
}